{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Поиск незадокументированных API</title>
    {% endblock %}
    <link rel="stylesheet" href="{%  static 'css/common.css' %}">
    {% block links %}
    {% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>