{% extends "base_template.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{%  static 'css/index.css' %}">
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="upper_strip">
        <div class="dropdown">
            <button class="dropbtn">Documentation files</button>
            <div class="dropdown-content">
                <a href="/documentation/upload/">Available files</a>
                <a href="#">Upload new file</a>
            </div>
        </div>

        <a href="/documentation/check">Check documentation</a>
    </div>
    {% if available_docs|length > 0 %}
        <h1>
            Доступные файлы документации для проверки:
        </h1>
        {% for doc in available_docs %}
            <p>{{ doc.name }}</p>
        {% endfor %}
    {% else %}
        <h1>
            Нет доступных файлов документации
        </h1>
        <a href="/documentation/upload">Загрузить файл документации</a>
    {% endif %}
{% endblock %}