{% extends "base_template.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{%  static 'css/index.css' %}">
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="upper_strip">
        <div class="dropdown">
            <button class="dropbtn">Documentation files</button>
            <div class="dropdown-content">
                <a href="/documentation/upload/">Available files</a>
                <a href="#">Upload new file</a>
            </div>
        </div>

        <a id="checkA">Check documentation</a>
    </div>
    <div class="card-holder">
        {% for check in checks %}
            <div onclick="location.href='/reports/{{ check.id }}'" class="report_card">
                <p>
                    {{ check.started }}
                </p>
                <p>
                    {{ check.documentation.file.name }}
                </p>
                <p>
                    {{ check.status }}
                </p>
            </div>
        {% endfor %}
    </div>
    <div id="checkModal" class="modal">
        <div class="modal_content">
            <form method="post" action="/documentation/check/">
                <select name="filename" id="filename">
                    {% for file in files %}
                        <option value="{{ file.file.name }}">{{ file.name }}</option>
                    {% endfor %}
                </select>
                <input type="checkbox" name="random_check" id="random_check"><label for="random_check">Random</label>
                <input type="checkbox" name="dictionary_check" id="dictionary_check"><label for="dictionary_check">Dict</label>
                <input type="checkbox" name="documentation_check" id="documentation_check"><label for="documentation_check">Docs</label>
                {% csrf_token %}
                <button class="interactable registration_button">Start documentation check</button>
            </form>
        </div>
    </div>
{% endblock %}