{% extends "base_template.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{%  static 'css/login.css' %}">
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    {% if errors %}
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
    <div class="login_registration_form">
        <form method="post">
            {{ form }}
            {% csrf_token %}
            <button class="interactable login_button">Log in</button>
        </form>
        <p class="registration_promotion">
            Don't have account yet?
        </p>
        <button class="interactable registration_button" onclick="show_register_form()" id="myBtn">Register!</button>
    </div>
    <div class="service_description_box">
        <p class="service_description">
            Service description
        </p>
    </div>
    <div id="registrationModal" class="modal">
        <div class="modal_content">
            <form method="post">
                <input class="reg_input" name="name" placeholder="Name" required="" id="reg_name">
                <input class="reg_input" name="surname" placeholder="Surname" required="" id="reg_surname">
                <input class="reg_input" type="email" name="login" placeholder="Email" required="" id="reg_email">
                <input class="reg_input" type="password" name="password" placeholder="Password" required="" id="reg_password">
                <input class="reg_input" type="password" name="password2" placeholder="Repeat password" required="" id="reg_password2">
                {% csrf_token %}
                <button class="interactable registration_button">Register!</button>
            </form>
        </div>
    </div>
{% endblock %}