{% extends "base_template.html" %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if errors %}
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {{ form }}
        {% csrf_token %}
        <button>Зарегестрироваться</button>
    </form>

{% endblock %}