{% extends "base_template.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{%  static 'css/available_docs.css' %}">
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/available_docs.js' %}"></script>
{% endblock %}
{% block content %}
{#    <form method="post" enctype="multipart/form-data">#}
{#        {{ form }}#}
{#        {% csrf_token %}#}
{#        <button>Загрузить файл!</button>#}
{#    </form>#}
     <div class="upper_strip">
        <a href="/">Check history</a>
        <a class="doc-check-a" href="#">Check documentation</a>
    </div>
    <button onclick="show_upload_form()" id="myBtn" class="new_upload_button">
        Upload new file
    </button>
    <table>
        <tr>
            <th>
                Filename
            </th>
            <th>
                Has been checked
            </th>
        </tr>
        {% for doc in docs %}
            <tr>
            <th>
                {{ doc.name }}
            </th>
            <th>
                {{ doc.has_been_checked }}
            </th>
        </tr>
        {% endfor %}

    </table>
    <div id="uploadModal" class="modal">
        <div class="modal_content">
            <form method="post" enctype="multipart/form-data">
                <input type="file" class="reg_input" name="upload_file" id="upload_file">
                {% csrf_token %}
                <button class="upload_button">Start documentation check</button>
            </form>
        </div>
    </div>
{% endblock %}