<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>

    </style>
</head>
<body>
    <h1>Documentation check report for {{ url }}</h1>
    {% if not errors %}
        <p>No errors were found!</p>
    {% endif %}

    {% if errors %}
        <table>
            {% for error in errors %}
                    <tr>
                        <td>
                            {{ error.url }}
                        </td>
                        <td>
                            {{ error.expected }}
                        </td>
                        <td>
                            {{ error.got }}
                        </td>
                    </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>