body {
    display: block;
}

.upper_strip {
    height: 100px;
    width: 100%;
    background-color: #C3B8CC;
    z-index: 1;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.upper_strip a {
    color: black;
    margin: 27px 16px 12px;
    text-decoration: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
}

.new_upload_button {
    width: 239px;
    height: 87px;
    background-color: #6B487B;
    color: #F5F2F2;
    border-radius: 10px;
    border: none;

    margin-top: 75px;
    margin-left: 69px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.upload_button {
    width: 255px;
    height: 50px;
    background: #6B487B;
    border-radius: 5px;
    color: #F5F2F2;
    border: none;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

table {
    border: solid 1px black;
    width: 524px;
    border-collapse: collapse;
    margin-left: 69px;
    margin-top: 74px;
}

th {
    border: solid 1px black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

tr {
    border: solid 1px black;
}
/*-----------------------------------------*/
input {
    width: 255px;
    height: 30px;
    border-radius: 10px;
    margin: 9px;
    border: 1px;
}

::placeholder {
    color: black;
}

.login_email {
    margin-top: 54px;
}

.interactable {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px;
}

.login_button {
    margin-top: 31px;
    /*margin-left: 101px;*/
    /*margin-right: 101px;*/
}

.login_registration_form {
    width: 303px;
    height: 301px;
    background-color: #C3B8CC;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 20px;
    text-align: center;
    margin-left: 220px;

    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.registration_promotion {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

    margin-top: 30px;
    margin-bottom: 0;
}

.service_description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

.service_description_box {
    width: 60%;
    background-color: #C3B8CC;
    height: 1080px;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
}

.reg_input {
    margin-bottom: 21px;
    margin-top: 0;
}