.interactable {
    background-color: #6B487B;
    color: #F5F2F2;
}

body {
    background-color: #F5F2F2;
    margin: 0;
    padding: 0;
    display: flex;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal_content {
    background-color: #C3B8CC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px;
    border-radius: 20px;
    width: 305px;
    height: 398px;
    text-align: center;
}
