body {
    display: block;
}

.upper_strip {
    height: 100px;
    width: 100%;
    background-color: #C3B8CC;
    z-index: 1;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    border: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 25px;
    z-index: -1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;

    text-align: left;
}

.dropdown-content a:hover {
    overflow: hidden;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 470px;
    background-color: #C3B8CC;
    overflow: hidden;
}

.upper_strip a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
}

.report_card {
    width: 350px;
    height: 181px;
    background: #C3B8CC;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 15px;
    margin-left: 118px;
    margin-top: 111px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
}

.card-holder {
    display: grid;
    gap: 10px;
    width: 70%;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}