input {
    width: 255px;
    height: 30px;
    border-radius: 10px;
    margin: 9px;
    border: 1px;
}

::placeholder {
    color: black;
}

.login_email {
    margin-top: 54px;
}

.interactable {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px;
}

.login_button {
    margin-top: 31px;
    /*margin-left: 101px;*/
    /*margin-right: 101px;*/
}

.login_registration_form {
    width: 303px;
    height: 301px;
    background-color: #C3B8CC;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 20px;
    text-align: center;
    margin-left: 220px;

    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.registration_promotion {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

    margin-top: 30px;
    margin-bottom: 0;
}

.service_description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

.service_description_box {
    width: 60%;
    background-color: #C3B8CC;
    height: 1080px;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
}

.registration_button {
    width: 115px;
    height: 30px;
}

.reg_input {
    margin-bottom: 21px;
    margin-top: 0;
}